<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <a href="/MATERIAL/add_category/">add category</a><br>
    <a href="/MATERIAL/view_user/">view user</a><br>
    <a href="/MATERIAL/view_feedback/">view feedback</a><br>
    <a href="/MATERIAL/view_complaints/">view complaints</a><br>
    <a href="/MATERIAL/institution_type/">Add Institution Type</a><br>
    <a href="/MATERIAL/view_type/">view Institution Type</a><br>
        <a href="/MATERIAL/login/">Logout</a><br>

</form>

</body>
</html>