{% extends 'admin/admin_index.html' %}
{% block body %}

<form action="/MATERIAL/type_edit_post/" method="post">
    {% csrf_token %}
<table width="200" border="1" class="table table-bordered table-stripped">
    <input type="hidden" name="id1" value="{{ data.id }}" >
  <tr>
    <td>Institution Type</td>
    <td><input type="text" class="form-control" name="textfield" id="textfield" value="{{ data.Type }}" /></td>
  </tr>
  <tr>
      <td></td>
    <td><input type="submit" class="btn btn-success" name="button" id="button" value="edit" /></td>

  </tr>
</table>
</form>
{% endblock %}
