{% extends 'User/Home_index.html' %}
{% block body %}

<body>
<form action="/MATERIAL/user_change_password_post/" method="post">
    {% csrf_token %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Old Password</th>
    <td><input type="text" name="textfield" class="form-control" required id="textfield" /></td>
  </tr>
  <tr>
    <td>New Password</td>
    <td><input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required class="form-control" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <th>Confirm Password</th>
    <td><input type="password" name="textfield3" class="form-control" required id="textfield3" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" class="btn btn-success" id="button" value="Submit" /></td>
    
  </tr>
</table>
</form>

{% endblock %}