{% extends 'User/Home_index.html' %}
{% block body %}

<form action="/MATERIAL/user_editprofile_post/#abc" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table class="table table-bordered table-striped">
    <tr>
    <th>Photo</th>
    <td><img src="{{ data.photo }}" height="100px" width="100px"><br>
        <input type="file" class="form-control" name="fileField" id="fileField" /></td>
  </tr>
  <tr>
    <th>User name</th>
    <td><input type="text" class="form-control" required value="{{ data.name }}" name="textfield" id="textfield" /></td>
  </tr>

  <tr>
    <th>Phone</th>
    <td><input type="text" class="form-control" required name="textfield2" value="{{ data.phone }}" id="textfield2" /></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><input type="text" class="form-control" required name="textfield3" value="{{ data.email }}" id="textfield3" /></td>
  </tr>
  <tr>
    <th>Place</th>
    <td><input type="text" name="textfield4" class="form-control" required value="{{ data.place }}" id="textfield4" /></td>
  </tr>
  <tr>
    <th>District</th>
    <td><input type="text" name="textfield5" class="form-control" required value="{{ data.District }}" id="textfield5" /></td>
  </tr>
  <tr>
    <th>Pin</th>
    <td><input type="text" name="textfield6" class="form-control" required value="{{ data.pin }}" id="textfield6" /></td>
  </tr>

  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" class="btn btn-success" id="button" value="Update" /></td>

  </tr>
</table>
</form>
{% endblock %}
