{% extends 'User/Home_index.html' %}
{% block body %}


<form action="/MATERIAL/search_user_my_request/" method="post">
    {% csrf_token %}
<table class="px pull-left">
  <tr>
    <th>From Date</th>
      <td>
      <input type="date" name="textfield" class="form-control" required id="textfield" /></td>
      <th>To Date</th>
      <td>
      <input type="date" name="textfield2" class="form-control" required id="textfield2" /></td>
    <td><input type="submit" name="button" class="btn btn-success" id="button" value="Search" /></td>
  </tr>
</table>
</form>
<table class="table table-bordered table-striped">
  <tr>
    <th>S/no</th>
    <th>Material</th>
    <th>Image</th>
    <th>Price</th>
    <th>condition</th>
    <th>date</th>
    <th>Status</th>
      <td></td>
    
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.MATERIAL.material_name }}</td>
    <td><img src="{{ i.MATERIAL.image }}" height="60px"width="60px" /></td>
    <td>&nbsp;{{ i.MATERIAL.price }}</td>
    <td>{{ i.MATERIAL.condition }}&nbsp;</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>{{ i.status }}  {{ i.USER.name }}</td>
  <td>{% if i.status == 'Approved' %}<a href="/MATERIAL/chat/{{ i.MATERIAL.USER.id }}" class="btn btn-primary" >Chat</a>{% else %}Chat unavailable{% endif %}</td>
    
  </tr>
    {% endfor %}
</table>

{% endblock %}
