{% extends 'User/Home_index.html' %}
{% block body %}

<form action="/MATERIAL/user_update_materials_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Material Name</th><input type="hidden" name="id" value="{{ data.id }}">

      <td><input type="text" value="{{ data.material_name }}"  name="textfield" class="form-control" required id="textfield" /></td>
  </tr>
  <tr>
    <th>Image</th>
<td><img src="{{ data.image }}" height="80px" width="80px"><br>
      <input type="file" name="fileField" class="form-control"  id="fileField" /></td>
  </tr>
  <tr>
    <th>Price</th>

      <td><input type="text" value="{{ data.price }}" name="textfield2" class="form-control" required id="textfield2" /></td>
  </tr>

  <tr>
    <th>Condition</th>

      <td><input type="text" value="{{ data.condition }}" name="textfield4" class="form-control" required id="textfield4" /></td>
  </tr>
    <tr>
        <th>Available Status</th>
        <td><select name="select" class="form-control">
            <option value="Available" {% if data.status == 'Available' %}selected{% endif %}>Available</option>
            <option value="Unavailable" {% if data.status == 'Unavailable' %}selected{% endif %}>Unavailable</option>
        </select></td>
    </tr>
        <tr>
        <th>Category</th>
        <td><select name="select2" class="form-control">
            {% for i in data1 %}
            <option {% if data.CATEGORY.id == i.id %}selected{% endif %} value="{{ i.id }}">{{ i.category_name }}- {{ i.INSTITUTIONTYPE.Type }}</option>
            {% endfor %}
        </select></td>
    </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" class="btn btn-success" id="button" value="update" /></td>
    
  </tr>
</table>
</form>

{% endblock %}