<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
{#    <a href="/MATERIAL/user_register/">user_register</a><br>#}
    <a href="/MATERIAL/user_change_password/">user_change_password</a><br>
    <br>
    <a href="/MATERIAL/user_add_material/">user add material</a><br>
    <a href="/MATERIAL/user_view_Type/">Institution Type</a><br>
{#    <a href="/MATERIAL/user_view_category/">user_view_category</a><br>#}
    <a href="/MATERIAL/user_manage_material/">user view own  materials</a><br>




    <br>
{#    <a href="/MATERIAL/user_update_material/">user_update_material</a><br>#}
    <a href="/MATERIAL/user_my_request/">user_my_request</a><br>
    <a href="/MATERIAL/user_my_request_send/">user_send_request</a><br>
{#    <a href="/MATERIAL/user_p_manage_request/">user_p_manage_request</a><br>#}
    <a href="/MATERIAL/view_other_user_materials/">view other user_materials</a><br>
    <a href="/MATERIAL/view_other_request/">approve manage</a><br>
    <a href="/MATERIAL/user_p_request_approve/">user_p_request_approve</a><br>
    <a href="/MATERIAL/user_p_request_rejects/">user_p_request_reject</a><br>
    <br>
    <a href="/MATERIAL/user_send_complaint/">user_send_comaplaint</a><br>
    <a href="/MATERIAL/user_view_complaint/">user_view_complaint</a><br>
    <a href="/MATERIAL/user_send_feedback/">user_send_feedback</a><br>
    <a href="/MATERIAL/user_view_feedback/">user_view_feedback</a><br>

    <br>
{#    <a href="/MATERIAL/view_other_request/">approve manage</a><br>#}





</form>

</body>
</html>